In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
penge = pd.read_csv('datasets\\penguins.csv')

In [3]:
penge

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [5]:
penge.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [6]:
penge['bill_length_mm'] = penge['bill_length_mm'].fillna(penge['bill_length_mm'].mean())

In [7]:
penge['bill_depth_mm'] = penge['bill_depth_mm'].fillna(penge['bill_depth_mm'].mean())

In [8]:
penge['flipper_length_mm'] = penge['flipper_length_mm'].fillna(penge['flipper_length_mm'].mean())

In [9]:
penge['body_mass_g'] = penge['body_mass_g'].fillna(penge['body_mass_g'].mean())

In [10]:
penge['sex'] = penge['sex'].fillna(penge['sex'].mode()[0])

In [11]:
penge.dtypes

rowid                  int64
species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
year                   int64
dtype: object

In [12]:
penge['rowid'] = penge['rowid'].astype('category')

In [13]:
penge['species'] = penge['species'].astype('category')

In [14]:
penge['island'] = penge['island'].astype('category')

In [15]:
penge['sex'] = penge['sex'].astype('category')

In [16]:
penge['year'] = penge['year'].astype('category')

In [17]:
penge['species'] == "Adelie"

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [18]:
penge[penge['species'] == "Adelie"]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,female,2009
148,149,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,female,2009
149,150,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,male,2009
150,151,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,female,2009
151,152,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,male,2009

In [19]:
penge['island'] == 'Biscoe'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

In [20]:
penge[penge['island'] == 'Biscoe']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.80000,18.30000,174.000000,3400.000000,female,2007
21,22,Adelie,Biscoe,37.70000,18.70000,180.000000,3600.000000,male,2007
22,23,Adelie,Biscoe,35.90000,19.20000,189.000000,3800.000000,female,2007
23,24,Adelie,Biscoe,38.20000,18.10000,185.000000,3950.000000,male,2007
24,25,Adelie,Biscoe,38.80000,17.20000,180.000000,3800.000000,male,2007
...,...,...,...,...,...,...,...,...,...
271,272,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,male,2009
272,273,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.000000,female,2009
273,274,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.000000,male,2009
274,275,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.000000,female,2009
275,276,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.000000,male,2009

<h1> #1 Does the penguins species 'adelie' lives exclusive lives in specific Island?</h1>

In [21]:
penge['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [22]:
penge['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [23]:
penge[(penge['species'] == "Adelie") & (penge['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [24]:
penge[(penge['species'] == "Adelie") & (penge['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  56
year                 56
dtype: int64

In [25]:
penge[(penge['species'] == "Adelie") & (penge['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       52
bill_depth_mm        52
flipper_length_mm    52
body_mass_g          52
sex                  52
year                 52
dtype: int64

<h1>Insight for no.1</h1>
<h2>No, adelie does not exclusively lives in an island</h2>

In [26]:
penge['wkilo'] = np.round(penge['body_mass_g'] / 1000, 1)

<h1>#2 Gento</h1>

In [27]:
Gentoo_bis = penge[(penge['species'] == "Gentoo") & (penge['island'] == 'Biscoe')]

In [28]:
Gentoo_dre = penge[(penge['species'] == "Gentoo") & (penge['island'] == 'Dream')]

In [29]:
Gentoo_torg = penge[(penge['species'] == "Gentoo") & (penge['island'] == 'Torgersen')]

In [30]:
np.round(Gentoo_bis['wkilo'].mean(), 1)

np.float64(5.1)

In [31]:
np.round(Gentoo_dre['wkilo'].mean(), 1)

np.float64(nan)

In [32]:
np.round(Gentoo_torg['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight for no.2</h1>
<h2>Yes, Gento does live exclusively lives in an island of Biscoe</h2>

<h1>#3 Chinstrap</h1>

In [33]:
Chinstrap_bis = penge[(penge['species'] == "Chinstrap") & (penge['island'] == 'Biscoe')]

In [34]:
Chinstrap_dre = penge[(penge['species'] == "Chinstrap") & (penge['island'] == 'Dream')]

In [35]:
Chinstrap_torg = penge[(penge['species'] == "Chinstrap") & (penge['island'] == 'Torgersen')]

In [36]:
np.round(Chinstrap_bis['wkilo'].mean(), 1)

np.float64(nan)

In [37]:
np.round(Chinstrap_dre['wkilo'].mean(), 1)

np.float64(3.7)

In [38]:
np.round(Chinstrap_torg['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight for no.3</h1>
<h2>Yes, Chinstrap does live exclusively lives in an island of Dream</h2>

<h1>#4 Does the Island affects the weight or body mass of species?</h1>

In [39]:
Adelie_bis = penge[(penge['species'] == "Adelie") & (penge['island'] == 'Biscoe')]

In [40]:
Adelie_dre = penge[(penge['species'] == "Adelie") & (penge['island'] == 'Dream')]

In [41]:
Adelie_torg = penge[(penge['species'] == "Adelie") & (penge['island'] == 'Torgersen')]

In [42]:
Adelie_bis.head(3)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007,3.4
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007,3.6
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007,3.8

In [43]:
np.round(Adelie_bis['wkilo'].mean(), 1)

np.float64(3.7)

In [44]:
np.round(Adelie_dre['wkilo'].mean(), 1)

np.float64(3.7)

In [45]:
np.round(Adelie_torg['wkilo'].mean(), 1)

np.float64(3.7)

<h1>Insight no 4.</h1>
<h2>No, Island does not affect the weight or body mass of species Adelie</h2>

<h1>#5</h1>
<h2>Gentoo</h2>

In [46]:
Gentoo_bis = penge[(penge['species'] == "Gentoo") & (penge['island'] == 'Biscoe')]

In [47]:
Gentoo_dre = penge[(penge['species'] == "Gentoo") & (penge['island'] == 'dream')]

In [48]:
Gentoo_torg = penge[(penge['species'] == "Gentoo") & (penge['island'] == 'Torgersen')]

In [49]:
np.round(Gentoo_bis['wkilo'].mean(), 1)

np.float64(5.1)

In [50]:
np.round(Gentoo_dre['wkilo'].mean(), 1)

np.float64(nan)

In [51]:
np.round(Gentoo_torg['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight no 5.</h1>
<h2>No, Island does not affect the weight or body mass of species Gentoo</h2>

<h1>#6</h1>
<h2>Gentoo</h2>

In [52]:
Chinstrap_bis = penge[(penge['species'] == "Chinstrap") & (penge['island'] == 'Biscoe')]

In [53]:
Chinstrap_dre = penge[(penge['species'] == "Chinstrap") & (penge['island'] == 'Dream')]

In [54]:
Chinstrap_torg = penge[(penge['species'] == "Chinstrap") & (penge['island'] == 'Torgersen')]

In [55]:
np.round(Chinstrap_bis['wkilo'].mean(), 1)

np.float64(nan)

In [56]:
np.round(Chinstrap_dre['wkilo'].mean(), 1)

np.float64(3.7)

In [57]:
np.round(Chinstrap_torg['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight no 6.</h1>
<h2>No, Island does not affect the weight or body mass of species Chinstrap</h2>

<h1>#7</h1>
<h2>Heaviest Species</h2>

In [58]:
average_adelie = np.round(pd.concat([Adelie_bis['wkilo'], Adelie_dre['wkilo'], Adelie_torg['wkilo']]).mean(), 1)

In [59]:
average_adelie

np.float64(3.7)

In [60]:
np.round(Adelie_bis['wkilo'].mean(), 1)

np.float64(3.7)

In [61]:
np.round(Adelie_dre['wkilo'].mean(), 1)

np.float64(3.7)

In [62]:
np.round(Adelie_torg['wkilo'].mean(), 1)

np.float64(3.7)

In [63]:
np.round(Gentoo_bis['wkilo'].mean(), 1)

np.float64(5.1)

In [64]:
np.round(Gentoo_dre['wkilo'].mean(), 1)

np.float64(nan)

In [65]:
np.round(Gentoo_torg['wkilo'].mean(), 1)

np.float64(nan)

In [66]:
np.round(Chinstrap_bis['wkilo'].mean(), 1)

np.float64(nan)

In [67]:
np.round(Chinstrap_dre['wkilo'].mean(), 1)

np.float64(3.7)

In [68]:
np.round(Chinstrap_torg['wkilo'].mean(), 1)

np.float64(nan)

<h1>Insight no 7.</h1>
<h2>The Heviest Species is ???</h2>

<h2>The heaviest species is Gentoo with the weight of 5.1 kilogram</h2>

<h1>Aggregate</h1>

In [69]:
penge_agg = penge.groupby(["species","island","sex"]).count()

C:\Users\LAB4-StudentPC01\AppData\Local\Temp\ipykernel_476\757929153.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penge_agg = penge.groupby(["species","island","sex"]).count()

In [70]:
penge_agg

                            rowid  bill_length_mm  bill_depth_mm  \
species   island    sex
Adelie    Biscoe    female     22              22             22
                    male       22              22             22
          Dream     female     27              27             27
                    male       29              29             29
          Torgersen female     24              24             24
                    male       28              28             28
Chinstrap Biscoe    female      0               0              0
                    male        0               0              0
          Dream     female     34              34             34
                    male       34              34             34
          Torgersen female      0               0              0
                    male        0               0              0
Gentoo    Biscoe    female     58              58             58
                    male       66              66             66
          Dream     female      0               0              0
                    male        0               0              0
          Torgersen female      0               0              0
                    male        0               0              0

                            flipper_length_mm  body_mass_g  year  wkilo
species   island    sex
Adelie    Biscoe    female                 22           22    22     22
                    male                   22           22    22     22
          Dream     female                 27           27    27     27
                    male                   29           29    29     29
          Torgersen female                 24           24    24     24
                    male                   28           28    28     28
Chinstrap Biscoe    female                  0            0     0      0
                    male                    0            0     0      0
          Dream     female                 34           34    34     34
                    male                   34           34    34     34
          Torgersen female                  0            0     0      0
                    male                    0            0     0      0
Gentoo    Biscoe    female                 58           58    58     58
                    male                   66           66    66     66
          Dream     female                  0            0     0      0
                    male                    0            0     0      0
          Torgersen female                  0            0     0      0
                    male                    0            0     0      0

<h1>What year has the most recorded data for male -> adelie</h1>

In [71]:
ade_male = penge.groupby(["species","year","sex"]).size()

C:\Users\LAB4-StudentPC01\AppData\Local\Temp\ipykernel_476\406448019.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ade_male = penge.groupby(["species","year","sex"]).size()

In [72]:
ade_male

species    year  sex
Adelie     2007  female    22
                 male      28
           2008  female    25
                 male      25
           2009  female    26
                 male      26
Chinstrap  2007  female    13
                 male      13
           2008  female     9
                 male       9
           2009  female    12
                 male      12
Gentoo     2007  female    16
                 male      18
           2008  female    22
                 male      24
           2009  female    20
                 male      24
dtype: int64

<h1>Isight for 8</h1>
<h2>2007 is the year that has most recorded data for male in adelie island with the value of 28</h2>

<h1>NO. 9 - Who's the most heavy pengue species in male sex </h1>

In [73]:
weight_sex = np.round(penge.groupby(["species","sex"])["wkilo"].mean() , 1)

C:\Users\LAB4-StudentPC01\AppData\Local\Temp\ipykernel_476\3603542137.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_sex = np.round(penge.groupby(["species","sex"])["wkilo"].mean() , 1)

In [74]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h2>Insight for 9 <br> The heaviest species in terms of male is Gentoo</h2>

<h1>No 10. What year has the highest recorded weight for male and female</h1>

In [75]:
weight_year = np.round(penge.groupby(["species","year","sex"])["wkilo"].mean() , 1)

C:\Users\LAB4-StudentPC01\AppData\Local\Temp\ipykernel_476\2145433371.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_year = np.round(penge.groupby(["species","year","sex"])["wkilo"].mean() , 1)

In [76]:
weight_year.unstack()

sex             female  male
species   year
Adelie    2007     3.4   4.0
          2008     3.4   4.1
          2009     3.3   4.0
Chinstrap 2007     3.6   3.8
          2008     3.5   4.1
          2009     3.5   3.9
Gentoo    2007     4.6   5.5
          2008     4.6   5.4
          2009     4.8   5.4

<h2>Insight for 10 <br> For male, the highest recorded weight in terms of year is 2007 <br> For female, the highest recorded weight in terms of year is 2009</h2>

<h1>CORRELATION v CAUSATION</h1>

<h1>No 11. Correlation between Bill length and Bill depth</h1>

<h1>Anything above .5 means the two values has a strong correlation</h1>
<h1>Anything below .5 meaning less or no correlation</h1>

<h1>Requirements for correlation</h1>
<ul>
    <li>Naming the variable</li>
    <li>first column to test</li>
    <li>.corr function</li>
    <li>second column to test</li>
</ul>

<h1>Statistical Treatment</h1>
<h2>Pandas Default - pearson R Correlation</h2>
<h2>Used for measuring correlation between quantitative Data</h2>

In [77]:
b_length_depth = penge['bill_length_mm'].corr(penge['bill_depth_mm'])

In [78]:
b_length_depth

np.float64(-0.23505287035553282)

<h2>Insight no 11.</h2>
<h2>There are no correlation between bill lenght and bill depth</h2>

<h1>No 12. Correlation between Bill depth and Body mass</h1>

In [79]:
depth_mass = np.round(penge['bill_depth_mm'].corr(penge['wkilo']),1)

In [80]:
depth_mass

np.float64(-0.5)

<h2>Insight no 12.</h2>
<h2>There are no correlation between bill depth and body mass</h2>

<h1>No 13. Correlation between Bill length and Body mass</h1>

In [81]:
length_mass = np.round(penge['bill_length_mm'].corr(penge['wkilo']), 1)

In [82]:
length_mass

np.float64(0.6)

<h2>Insight no 13.</h2>
<h2>There are correlation between bill length and body mass</h2>

<h1>No 14. Correlation between flipper length and Body mass</h1>

In [83]:
flipper_mass = np.round(penge['flipper_length_mm'].corr(penge['wkilo']), 1)

In [84]:
flipper_mass

np.float64(0.9)

<h2>Insight no 14.</h2>
<h2>There are correlation between flipper length and body mass</h2>

<h1>No 15. Correlation between flipper length and Bill length</h1>

In [85]:
flipper_lenght = np.round(penge['flipper_length_mm'].corr(penge['bill_length_mm']), 1)

In [86]:
flipper_lenght

np.float64(0.7)

<h2>Insight no 15.</h2>
<h2>There are correlation between flipper length and bill length</h2>

<h1>No 16. Correlation between flipper length and Bill depth
</h1>

In [87]:
flipper_depth = np.round(penge['flipper_length_mm'].corr(penge['bill_depth_mm']), 1)

In [88]:
flipper_depth

np.float64(-0.6)

<h2>Insight no 16.</h2>
<h2>There are no correlation between flipper length and bill depth</h2>

In [91]:
penge

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

In [93]:
from scipy.stats import f_oneway

In [92]:
penge[penge["sex"] == "male"]["body_mass_g"]

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

<h1>No. 17</h1>
<h2>Flipper c Sex</h2>

In [97]:
f_stats, p_value = f_oneway(penge[penge["sex"] == "male"]["flipper_length_mm"],
                            penge[penge["sex"] == "female"]["flipper_length_mm"])

p_value

np.float64(4.88065474065626e-06)

<h2>Insight 17</h2>
<h2>There is no correlation between flipper length and sex</h2>